  ::-webkit-scrollbar{
  width: 15px;}

  ::-webkit-scrollbar-thumb {
  background: #603e39;
  border-radius: 6px;}

  ::-webkit-scrollbar-thumb:hover {
  background: #2c1c1a;
  border-radius: 6px; }

  ::-webkit-scrollbar-track {
  background: transparent; }
  
  .wrapper{
    display: grid;
    max-width: 1024px;
    position: relative;
    margin: 0 auto;
    grid-template-columns: repeat(14, [col-start] 1fr);
    grid-gap: 20px;}

  .wrapper > * {
    background-color:  rgb(252, 250, 250);
    border-width: 3px;
    border-radius: 6px;
    border-style: solid;
    border-color: #532d27;
    outline-style: dashed;
    outline-width: 2px;
    outline-offset: 2px;
    outline-color:#532d27;
    color: #915D55;
    padding: 10px;}

   body {
         background-image: url(media/images/AutumnBeetlePattern.png);
         background-repeat: no-repeat;
         background-attachment: fixed;
         background-size: cover;
         overflow-x: hidden;
        }
         
 
    
            .zoom {
                padding: 10px;
                background-color: rgba(255, 255, 255, 0);
                transition: transform .8s ease-in-out  ; 
                width: 300px;
                height: 300px;
                margin: 0 auto;
              }
              
              .zoom:hover {
                transform: scale(1.2);}

 center {text-align:center;}

                
     @keyframes fade-in {
     0% {opacity: 0;}
     100% {opacity: 1;}}

     @keyframes fade-out {
      0% {opacity: 1;}
      100% {opacity: 0;}} 

     @keyframes slide {
      from {margin-left: 40%;}
      to {margin-left: 100%;}}

    
        
     /* #fff0c7 #e2c9bb